<link rel="stylesheet" href="~/css/Dodavanje/DodajUplata.css" />
@{

    var podaci = (List<Polaznik>)ViewData["Uplate_form"];
    var podaci2 = (List<Administracija>)ViewData["Uplate_form2"];
}

<br />
<br />
<br />
<h2 style="text-align:center; font-family:Consolas">Unesite podatke o uplati:</h2>
<br />
<br />

@*
<center>
    <form action="/Uplate/DodajUplatu">
        <table>
            <tr>
                <td><label>Svrha</label></td>
                <td><input type="text" name="svrha" class="form-control" /></td>
            </tr>
            <tr>
                <td><label>Iznos</label></td>
                <td><input type="text" name="iznos" class="form-control" /></td>
            </tr>
            <tr>
                <td><label>Datum uplate</label></td>
                <td><input type="datetime-local" name="datum_uplate" class="form-control" /></td>
            </tr>
            <tr>
                <td><label>Ovjereno</label></td>
                <td>
                    <select name="ovjereno" class="form-control">
                        <option>---Odaberite---</option>
                        <option disabled="disabled">---------------</option>
                        <option value="DA">DA</option>
                        <option value="NE">NE</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Polaznik</label></td>
                <td>
                    <select name="polaznik" class="form-control">
                        <option>---Odaberite---</option>
                        <option disabled="disabled">---------------</option>
                        @foreach (Polaznik x in podaci)
                        {
                            <option value="@x.PolaznikID">@x.Ime @x.Prezime</option>
                        }
                    </select>

                </td>
            </tr>
            <tr>
                <td><label>Evidentirao</label></td>
                <td>
                    <select name="administracija" class="form-control">
                        <option>---Odaberite---</option>
                        <option disabled="disabled">---------------</option>
                        @foreach (Administracija y in podaci2)
                        {
                            <option value="@y.AdministracijaID">@y.Ime @y.Prezime</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <button id="go" class="btn btn-primary" type="submit">Snimi</button>
        <a id="back" class="btn btn-default" href="/Uplate/PrikaziUplate">Nazad</a>
    </form>
</center>*@

<center>
    <form style="text-align:center" asp-controller="Uplate" asp-action="DodajUplatu" id="forma">
        <div class="form-group">
            <label>Svrha</label>
            <input type="text" name="svrha" class="form-control" />
        </div>
        <div class="form-group">
            <label>Iznos</label>
            <input type="text" name="iznos" class="form-control" />
        </div>
        <div class="form-group">
            <label>Datum uplate</label>
            <input type="datetime-local" name="datum_uplate" class="form-control" />
        </div>
        <div class="form-group">
            <label>Ovjereno</label>
            <select name="ovjereno" class="form-control">
                <option>---Odaberite---</option>
                <option disabled="disabled">---------------</option>
                <option value="DA">DA</option>
                <option value="NE">NE</option>
            </select>
        </div>
        <div class="form-group">
            <label>Polaznik</label>
            <select name="polaznik" class="form-control">
                <option>---Odaberite---</option>
                <option disabled="disabled">---------------</option>
                @foreach (Polaznik x in podaci)
                {
                    <option value="@x.PolaznikID">@x.Ime @x.Prezime</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Evidentirao</label>
            <select name="administracija" class="form-control">
                <option>---Odaberite---</option>
                <option disabled="disabled">---------------</option>
                @foreach (Administracija y in podaci2)
                {
                    <option value="@y.AdministracijaID">@y.Ime @y.Prezime</option>
                }
            </select>
        </div>
        <button id="go" class="btn btn-primary" type="submit">Snimi</button>
        <a id="back" class="btn btn-default" href="/Uplate/PrikaziUplate">Nazad</a>
    </form>
</center>
